body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: lightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    height: 800px;
    padding-top: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}


button {
    background-color: rgba(190, 185, 185, 0.792);
}

.slider-container {
    margin: 0 auto;
}

.slider:hover {
    opacity: 1;
}
