body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 800px;
    padding-top: 1rem;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.square:hover {
    background: black;
}

button {
    background-color: rgba(190, 185, 185, 0.792);
}

